


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" contenteditable="false">Personal Details</h3>
        <h6 class="panel-info">Please, Make sure that your personal details are correct!</h6>
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>@Model.CutomerName</td>
                
            </tr>
            <tr>
                <td>@Model.CustomerEmail</td>
            </tr>
        </table>

    </div>
    <div class="panel-footer">Panel footer</div>
</div>